<div class="body">
    <app-sidebar></app-sidebar>
<div class="bas">      
    <div class="profil">  
    </div>
    <div class="formulaire">
         <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
           <div class="entrees">
                 <div class="label">
                   <label for="">Nom</label>
                   <label for="">Prenom</label>
                   <label for="">Email</label>
                   <label for="">Telephone</label>
                   <label for="">Mot de passe</label>
               </div>
               <div class="input">
                 <input id="nom" formControlName="nom" class="form-control" />
                 <input id="prenom" formControlName="prenom" class="form-control" />
                 <input id="email" formControlName="email" class="form-control" />
                 <input id="telephone" formControlName="telephone" class="form-control"/>
                 <input id="motDePasse" type="password" formControlName="motDePasse" class="form-control" />
               </div>   
           </div>
            <div class="buttons">        
               <button type="submit" class="btn btn-primary">Mettre à jour</button>
            </div>
         </form>

    </div>

</div>
</div>