.card{
    width: 100vw;
    height: 100%;
    border-radius: 15px;
    background-color: var(--white);
    display: flex;
    /* flex-flow: row wrap; */
    justify-content: space-around;
    flex-wrap: wrap;
}
.card-left{
    min-width: 30%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 38%;
    align-items: center;
    margin: 3%;
}
.form-group{
    /* width: ; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width:17vw;
    height:24vh ;
}
.logo img{
    width: 100%;
    height: 100%;
}
.card-title{
    display: flex;
    flex-direction: column;
 }

.card-title h2{
   font-size: medium;
}
.login{
    /* width:300px; */
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.login input{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    width:20vw;
    border: solid 2px var(--orange);
   
}

.card-right{
    min-width: 30%;
    width: 45%;
    margin: 2%;
}
.card-right img{
    width: 100%;
    height: 90%;
}
.card-title{
    align-items: center;
}
.login button{
    min-width: 50%;
    margin: 0 auto;
    padding: 15px 0px;
    background-color: var(--orange);
    border-radius: 10px;
    color: var(--white);
    border: none;
}
.create-cmpte{
    color: var(--black);
    text-decoration: none;
    font-size: small;
}
.insc{
    color: var(--black);
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: var(--orange);
    font-size: small;
}
.liens{
    margin: 2%;
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-around; */
}
@media screen and (max-width: 700px) {
    .card{
        
        display: block;
        flex-direction: column;
    }
    .card-left{
        width: 100%;
    }
    .card-right{
        width: 100%;
    }
    .login{
        width: 100%;
    
    
    }
    .login input{
        width: 55vw;
    
    
    }
}