<div class="card">
    <div class="card-left">
        <div class="logo">
            <img src="/assets/images/logo.png" alt="">
        </div>
       <div class="card-title">
           <h2>Connectez-vous</h2>
           <form (ngSubmit)="login()" class="login">
            <div class="form-group">
              <!-- <label for="email">Email:</label> -->
              <input type="email" id="email" [(ngModel)]="email" name="email" class="form-control" placeholder="Entrer votre email" required>
            </div>
            <div class="form-group">
              <!-- <label for="password">Password:</label> -->
              <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Entrer votre mot de pass" required>
            </div>
            <button type="submit">Se Connecter</button>
          </form>
         
         <div class="liens">
            <a href="#" class="create-cmpte">Creer un nouveau compte?</a>
            <a href="#" class="insc">S'inscrire</a>
         </div>
       </div>
    </div>
    <div class="card-right">
        <img src="/assets/images/login.png" alt="">
    </div>
</div>