<div class="body">
    <app-sidebar></app-sidebar>
<div class="bas">
    <div class="profil">
        <div class="titre"><h3>Votre photo de profil</h3></div>
        <div class="tof">

        </div>
        
    </div>
    <div class="formulaire">
         <form action="">
            <div class="label">
                <label for="">Nom</label>
                <label for="">Email</label>
                <label for="">Nom d'utilisateur</label>
                <label for="">Password</label>
                <label for="">Nouveaux mot de passe</label>
            </div>
            <div class="input">
                <input type="text" name="nom"> 
                <input type="text" name="mail">
                <input type="text" name="nom">
                <input type="text" name="nom">
                <input type="text" name="nom">
            </div>           

         </form>

    </div>
    <div class="buttons">
          <div class="btn1"><button>Changer MDP</button></div>
          <div class="btn2"><button>Deconnexion</button></div>
    </div>

</div>
</div>