<div class="body">
    <app-sidebar></app-sidebar>
<div class="Bigblock">
    <div class="nav">
  
        <div class="bloc1">
            <div class="recherche">
                <span class="cherche">
                    <i (click)="onSearch()" class="fa-solid fa-magnifying-glass"></i>
                    <input [(ngModel)]="searchQuery" placeholder="Rechercher un utilisateur">
                    <!-- <button (click)="onSearch()">Rechercher</button> -->
                </span>
            </div>
            
                <div class="profil">
                    <div class="textezone">
                        <img src="assets/images/profil.jpg" alt="">
                        <span><h3>Mody Barry</h3> <br> Administrateur</span>
                    </div>
                        <span><i class="fa-solid fa-circle-chevron-down"></i></span>
                </div>
                <div *ngIf="utilisateurs.length > 0">
                    <h3>Résultats de la recherche :</h3>
                    <ul>
                      <li *ngFor="let user of utilisateurs">{{ user.nom }}</li>
                    </ul>
                  </div>
                  <div *ngIf="utilisateurs.length === 0 && searchQuery !== ''">
                    <p>Aucun utilisateur trouvé.</p>
                  </div>
        </div>
  
        <div class="bloc2">
            
                <h1>Liste des Utilisateurs</h1>
            
            <div class="droite">
                <a (click)="afficherEq()"><i class="fa-solid fa-plus"></i><span>Ajouter Utilisateur</span></a>
            </div>
        </div>
    
    </div>
  
    <div class="tableau">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Telephone</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            
                <tr *ngFor="let user of utilisateurs">
                    <td>{{ user.id }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.telephone }}</td>
                    <td>{{ user.role ? user.role.role : 'Non défini' }}</td>
                    <td>
                        <i  (click)="afficherEq()" (click)="editUser(user)" style="color: rgb(53, 53, 238);" class="fa-solid fa-pen-to-square"></i>
                        <i (click)="afficherSup()" *ngIf="user.id !== undefined" (click)="deleteUser(user.id)"  style="color: red;" class="fa-solid fa-trash"></i>
                    </td>
                  </tr>
               
               
            </table>
    </div>
  
  
  
    <div class="ombre" *ngIf="visibleEq">
        <form [formGroup]="utilisateurForm" (ngSubmit)="onSubmit()">
            <div class="btnFermer" (click)="cacherEq()"><i class="fa-solid fa-xmark"></i></div>
            <h1>{{ isEditing ? 'Modifier Utilisateur' : 'Ajouter Utilisateur' }}</h1>
            <div class="input">
                <div class="Entree">
                    <label for="">Nom</label>
                    <input type="text" placeholder="Nom" formControlName="nom">
                </div>
                <div class="Entree">
                    <label for="">Prenom</label>
                    <input type="text" placeholder="Prenom" formControlName="prenom">
                </div>
                <div class="Entree">
                    <label for="">Email</label>
                    <input placeholder="Email" formControlName="email" type="email">
                </div>
                <div class="Entree">
                    <label for="">Telephone</label>
                    <input type="number" placeholder="Numero" formControlName="telephone">
                </div>
                <div class="Entree">
                    <label for="">Mot de passe</label>
                    <input placeholder="Mot de passe" formControlName="motDePasse" type="password">
                </div>
                <div class="Entree">
                    <label for="">Roles</label>
                    <select id="roleId" formControlName="roleId" class="form-control">
                        <option *ngFor="let role of roles" [value]="role.id">{{ role.role }}</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btnAjouter">{{ isEditing ? 'Modifier' : 'Ajouter' }}</button>
        </form>
    </div>

  

    <div class="cancel" *ngIf="visibleSup">
        <div class="cancel-content">
            <div class="btnFermer" (click)="cacherSup()"><i class="fa-solid fa-times"></i></div>
               <h1>Voulez-vous vraiment annuler cette réservation?</h1>
               <div class="actions-annulation">
                  <div class="btnAnnuler" (click)="cacherSup()"> <button>Annuler</button></div>
                  <div class="btnConfirmer"> <button>Confirmer</button></div>
               </div>
           </div>
     </div>

  </div>
  <!-- <router-outlet></router-outlet> -->
</div>