@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
.body{
    width: 100%;
    height: 100vh;
    display: flex;
}
.Bigblock{
    width: 82vw;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:'Poppins', sans-serif ;
    /* background-color: red; */
}
.nav{
    width: 80vw;
    height: 35%;
    background-color: #ed6414;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.bloc1 , .bloc2{
    width: 90%;
    height: 70px;
    border-radius: 10px;
}
.bloc1{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    flex-direction: row;
    align-items: center;
}


.profil{
    height: 60px !important;
    padding: 5px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.356);

}
.profil .textezone{
    height: 100%;
    display: flex;
    line-height: 1px;
}
.profil .textezone span{
    line-height: 2px;
}
.profil img{
    width: 60px;
    border-radius: 10px;
    margin-right: 10px;
}
.profil span i{
    margin-left: 10px;
    font-size: 1.2rem;
}
.profil span i:hover{
    cursor: pointer;
}


.profil button{
    border: none;
    background-color: transparent;
    /* margin-right: 10px; */
    font-size: 1.2rem;
}



.bloc2{
    width: 90%;
    background-color: white;
    height: auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px ;
    
}
.cherche{
    position: relative;
    display: flex;
    font-size: 1.2rem;
}
.cherche input{
    width: 300px;
    padding: 10px 5px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.308);
    text-align: center;
    z-index: 1;
    font-size: 1.2rem;
}
.cherche input:focus{
    border: none;
}
.cherche i{
  position: absolute;
  left: 10px; 
  top: 13px;
  z-index: 2; 
  color: rgba(0, 0, 0, 0.527);
}


.bloc2 .droite a{   
    text-decoration: none;
    padding: 15px 15px;
    border-radius: 10px;
    background-color: #ed6414;
    color: white;
}
.bloc2 .droite a:hover{   
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.555);
    cursor: pointer;
}
.bloc2 .droite a i{   
    margin-right: 8px;
}


@media screen and (max-width: 900px) {
    .nav{
        /* width: auto; */
        height: 50%;
        
    }
    .bloc1{
        
        flex-direction: column-reverse;
        justify-content: space-around;
        flex-wrap: wrap;
        height: auto;
        gap: 10px;
        /* flex-direction:column; */
    }
    .bloc2{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        height: auto;
        padding: 20px;
        /* gap: 5px; */
    }
    
    
    
    .bloc2 h1{
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        /* margin-top: -10px; */
        
    }
    .Bigblock{
        width: calc(100vw - 70px);
    }
    .nav{
        margin: 5 auto;
        width: 96%;
        height: 50%;
        
    }
    .tableau{
        display: flex;
        flex-direction: column;
        
        width:98%;    
    }
    .tableau table{
        min-width: 800px;
        flex-wrap: nowrap;
        overflow: scroll;
    }
    
    

}
@media screen and (max-width: 700px) {
    .bloc2{
        flex-direction: column;
    }
    .bloc2 .droite{
        font-size: small;
    }
    .bloc2 .droite a{
        padding: 10px; 
        border-radius: 5px;
    }
    .bloc2 h1{
        margin-top: -15px;
        
    }
    /* .Bigblock{
        overflow-x: scroll;
    
    } */
    /* .tableau{
        width:90%;    
    } */
    
}
/* @media screen and (max-width: 1100px) { */
    /* .Bigblock{
        width: calc(100vw - 25vw);
        overflow-x: hidden;
    } */
    /* .nav{
        width: 96%;
        height: 50%;
        
    }
    .tableau{
        display: flex;
        flex-direction: column;
        
        width:85%;    
    }
} */







/* TABLEAU */
.tableau{
    height: 60%;
    margin: 0 auto;
    overflow-y: scroll;
    border-radius: 10px;
    
}
.tableau::-webkit-scrollbar{
    display: none;
}
.tableau table{
    background-color: white;
    width: 79vw;
    text-align: center;
    border-collapse: collapse;
    box-shadow: inset  0 -5px 6px rgba(0, 0, 0, 0.5);
}
.tableau table tr,th,td{
    height: 50px;
}
.tableau table td{
    border: none;
    border-collapse: collapse;
}
.tableau table tr:nth-child(even){
    background-color: rgba(122, 121, 121, 0.096);
}
.tableau table tr> td:last-child{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}
.tableau table tr> td:last-child i:hover{
    cursor: pointer;
    
}




/* ++++++++++++++++++++ FORMULAIRE D'AJOUT EVENEMENT ++++++++++++++++++++++++++++++++++++++*/
.ombre{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.747);
    z-index: 4;
    /* backdrop-filter: blur(4px); */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

form{
    background-color: white;
    width: 60%;
    height: 95%;
    border-radius: 10px;
    box-shadow: 2px 2px 20px #ed6414;
    padding: 5px;
    /* display: flex; */
    /* flex-direction: column; */
    text-align: center;
}
.btnFermer{
    display: flex;
    justify-content: flex-end;
}
.btnFermer i{
    width: 10px;
    height: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ed6414;
    border-radius: 50%;
    color: white;
}
.btnFermer i:hover{
    cursor: pointer;
    box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.39);
}
.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.input > .Entree{
    width: 95%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* gap: 20px; */
}


.Entree input,.Entree select,.Entree textarea{
    width: 65%;
    border: 1px solid rgba(0, 0, 0, 0.336);
    padding: 10px 5px;
    border-radius: 5px; 
}
.Entree select{
    width: 67%;
}
.Entree textarea{
    width:65%;
    max-width: 65%;
    max-height: 31px;
}
.Entree label{
    text-align: left;
    /* display:flex ;
    justify-content: flex-start;
    align-items: start; */
}

.btnAjouter{
   margin-top: 20px;
}
.btnAjouter button{   
    text-decoration: none;
    padding: 15px 50px;
    border-radius: 10px;
    background-color: #ed6414;
    color: white;
    border: none;
    font-size: 1.2rem;
}
.btnAjouter button:hover{   
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.555);
    cursor: pointer;
}

@media screen and (max-width: 1000px)  {
    form{
        width: 90%;
    }
    /* .tableau {
        width: 90%;
    } */
    
}
/* @media screen and (max-width: 1200px)  {
    .tableau table{
        min-width: 800px;
        flex-wrap: nowrap;
        overflow: scroll;
    }
    
} */




.cancel{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.747);
    z-index: 4;
    /* backdrop-filter: blur(4px); */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}
.cancel-content{
   width: 50%;
   height: 35%;
   padding: 3px;
   background-color: var(--white);
   box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
   border-radius: 10px;
   display: flex;
   flex-direction: column;
}
.cancel-content h1{
    text-align: center;
}
.actions-annulation{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.actions-annulation button{
    width: 8vw;
    height:6vh;
    border-radius: 8px;
    color:var(--white);
    border: none;
    background-color: var(--orange);
    font-size: medium;
}






.search-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  .search-input.active {
    background-color: #e0f7fa; /* Couleur de fond lorsque le champ est actif */
  }
  