.content-all{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.contenu{
    height: 98vh;
    padding-left: 2vw;
    width: 80vw;
    display: flex;
    flex-direction: column;
}
.entete{
    height: 8%;
    margin-top: 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 2%;
}
.rech{
   width:17%;
   height: 7vh;
   background-color: transparent;
   box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.485);
   border-radius: 10px;
}

.rech input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 0px;
    font-size: 1.1rem;
   
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.485);
}
.mode{
    width: 25%;
    height: 7vh;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.485);
    display: flex;
    justify-content: space-between;
}

.mode i{
    margin: 5%;
}
.combined-icon{
    margin: 3%;
}





.profil{
    height: 80%;
    padding: 5px;
    background-color: #c1d7e4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-right: 2%;
}
.profil, .sombre{
    width: 25%;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.356);
}
.profil img{
    width: 60px;
    border-radius: 10px;
    margin-right: 10px;
}
.profil .textezone{
    height: 100%;
    display: flex;
    line-height: 1px;
}

.profil button{
    border: none;
    background-color: transparent;
    /* margin-right: 10px; */
    font-size: 1.2rem;
}






.corps{
    height: 49%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 1%;
}
.droite{
    height: 90%;
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}
.title{
    width: 100%;
    height: 7vh;
    background-color:var(--white);
    border-radius: 10px;
    margin-bottom: 1%;
    text-align: center;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.485);
}
.title h2{
    padding-bottom: 1%;
}
.content1,.content2,.content3{
    width: 100%;
    height: 11.5vh;
    background-color:var(--white);
    border-radius: 10px;
    margin-bottom: 1%;
    display: flex;
    flex-flow:row wrap ;
    justify-content: space-between;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.485);
}
.part1{
    width: 30%;
    height: 100%;
}
.part1 img{
    margin-top: 2%;
    width: 70%;
    height: 97%;
}
.part2{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.detail-event{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.detail-droite button{
     width: 6vw;
     height: 4vh;
     background-color: var(--orange);
     border: none;
     border-radius: 7px;
     color: var(--white);
     margin-right: 2vw;
}
.nom-event h3{
    font-size: small;
    margin-bottom: 1%;
}
.detail-gauche{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.detail-gauche span{
    font-size: small;
    margin-left: 2%;
    
}
.detail-gauche i{
    font-size: small;
  
}
.gauche{
    width: 46%;
    height: 90%;
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.485);
}
.gauche-left{
    width: 50%;
    height: 100%;
    
}
.gauche-right{
    align-items: center;
    padding-top:18%;
    width: 45%;
    height: 60%;
}
.gauche-right img{

     width: 77%;
     height: 72%;
}
.name p{
    font-size: 1.2em;
    margin-left: 5%;
    color: var(--black);
    font-weight: bold;
}
.name h6{
    margin-left: 6%;
    color: var(--orange);
}
.calendar{
    justify-content: flex-end;
    width: 55%;
    margin-left: 8%;
}
.demo-inline-calendar-card {
    width: 100%;
    background-color:#1B375F;
    color: var(--white);
  }
  mat-calendar{
    color: var(--white);
  }


.fin{
    height: 33%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 1%;
}
.left{
    width: 46%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
   
}
.event-totale{
    padding-top: 2%;
    padding-left: 2%;
    width:47%; 
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.485);
}
.reservation-totale{
    padding-top: 2%;
    padding-left: 2%;
    width: 45%;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.485);
}

.right{
    width: 45%;
    background-color: var(--orange);
    margin-right: 2%;
    border-radius: 10px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.485);
}
.graphe{
    width: 90%;
    height: 5vh;
    background-color: blue;
}
canvasjs-chart{
  height: 4px;
}  
