
<div class="SideBar">
    <!-- <div class="image" > -->
        <img src="assets/images/logo.png" alt="">
    <!-- </div> -->
    <div class="pages">

            <a *ngIf="role === 'ADMIN' || role === 'PERSONNEL' || role === 'ORGANISATEUR'"  routerLink="/accueil"><i class="fa-solid fa-house"></i><span>Accueil</span></a> 

            <a *ngIf="role === 'ADMIN'"  routerLink="/utilisateur" id="User"><i class="fa-solid fa-user"></i><span>Utilisateurs</span></a> 

            <a *ngIf="role === 'ADMIN' || role === 'ORGANISATEUR'"  routerLink="/prestateur"><i class="fa-solid fa-users"></i><span>Prestateurs</span></a> 

            <a *ngIf="role === 'ADMIN' || role === 'PERSONNEL' || role === 'ORGANISATEUR'"  routerLink="/evenement"><i class="fa-solid fa-calendar-days"></i><span>Evénements</span></a>

            <a *ngIf="role === 'ADMIN' || role === 'PERSONNEL' || role === 'ORGANISATEUR'"  class="logistique" (click)="Affiche()"><i class="fa-solid fa-truck-fast"></i><span>Logistique</span><i class="fa-solid fa-circle-chevron-down"></i></a>

            <section class="liste" *ngIf="visible">
                <a *ngIf="role === 'ADMIN' || role === 'PERSONNEL' || role === 'ORGANISATEUR'"  routerLink="/equipement"><i class="fa-solid fa-toolbox"></i><span>Equipement</span></a>
                <a *ngIf="role === 'ADMIN' || role === 'PERSONNEL' || role === 'ORGANISATEUR'"  routerLink="/lieu"><i class="fa-solid fa-place-of-worship"></i><span>Lieu</span></a>
            </section>

            <a *ngIf="role === 'ADMIN' || role === 'PERSONNEL'"  routerLink="/reservation"><i class="fa-solid fa-money-bill"></i><span>Réservations</span></a>

            <a *ngIf="role === 'ADMIN' || role === 'PERSONNEL' || role === 'ORGANISATEUR'"  routerLink="/tasklist"><i class="fa-solid fa-list-check"></i><span>Task-list</span></a>

            <a *ngIf="role === 'ADMIN' || role === 'PERSONNEL' || role === 'ORGANISATEUR'"  routerLink="/reglage" ><i class="fa-solid fa-gear"></i><span>Réglages</span></a> 
    </div>
    <div routerLink="" class="logout">
        <a><i class="fa-solid fa-right-from-bracket"></i><span (click)="logout()">Déconnexion</span></a> 
    </div>
</div>

            


